frontend/node_modules
*.DS_Store
*.env
.idea
*db.sqlite3*
*/migrations
frontend/.cache
frontend/public/build
frontend/package-lock.json
backend/*/migrations
.vscode

# dependencies
frontend/node_modules
frontend/*.pnp
frontend/*.pnp.js

# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.pnpm-debug.log*

# local env files
frontend/*.env*.local

# vercel
frontend/*.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts